/* .mod-position{
    bottom: 300px;
} */
/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* externl css */
body{
    font-family: 'Poppins', sans-serif;
}
/* .carousel-caption{
    margin-bottom: 150px;
} */

/* registaion button in join section */
.btn-primary-mod{
    background-color: white;
    color:#289BDE;
    border-radius: 5px;
}
.btn-primary-mod:hover{
    background-color: rgb(218, 214, 214);
    color:#289BDE;
}
.font-s1{
    font-size: 15px;
}
.font-s2{
    font-size: 9px;
}
p{
    font-size: 13px;
}
h5{
    font-size: 15px;
}
.fa-star{
    color:rgb(255, 187, 0);
}
.fa-star-half-stroke{
    color:rgb(255, 187, 0);
}
.footer-height{
    height:300px;
}
.bg-footer-color{
    background-color: #161616;
}
