/* .mod-position{
    bottom: 300px;
} */
/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* externl css */
body{
    font-family: 'Poppins', sans-serif;
}
/* .carousel-caption{
    margin-bottom: 200px;
} */
.footer-height{
    height:300px;
}
.bg-footer-color{
    background-color: #161616;
}

/* registaion button in join section */
.btn-primary-mod{
    background-color: white;
    color:#289BDE;
    border-radius: 5px;
}
.btn-primary-mod:hover{
    background-color: rgb(218, 214, 214);
    color:#289BDE;
}